# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment folders
bin/
lib/
lib64/
include/
pyvenv.cfg
venv/
ENV/
env/

# Distribution / packaging
build/
dist/
*.egg-info/

# PyInstaller
*.manifest
*.spec

# VSCode settings
.vscode/

# OS files
.DS_Store
Thumbs.db

